<link rel="stylesheet" href="/font/fonts.css">
<link rel="stylesheet" type="text/css" href="/css/search.css">


<div id="app"></div>

<script type='text/javascript'>
  const hostelData =<%-JSON.stringify(hosteldata)%>
</script>
<script src="/dist/search.js"></script>
